@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Aktiv Tur Rotaları</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Professional rəhbətlərimiz tərəfindən tur listimiz aşağıdadır.
                    <p><span class="text-bold-600">Example 1:</span> Table with outer spacing</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Şəhər</th>
                                    <th>Vaxt</th>
                                    <th>Tutum</th>
                                    <th>Qiymət</th>
                                    <th>Detallar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.DestinationID</td>
                                        <td>@item.City</td>
                                        <td>@item.DayNight</td>
                                        <td>@item.Capacity</td>
                                        <td>@item.Price Azn</td>
                                        <td><a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-info">Detallar</a></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




